<div class="results">
  <% if @search_gem %>
  <div class="gemBio">
  <ul class="searchList">
    <li><a href="https://rubygems.org/gems/<%= @name%>" id="<%= @name%>" class="searchList"> <%= @name %> </a>
    </li>
    </ul>
    <h5>INFORMATION</h5>
    <h6> <%= @info %> </h6>
    <h5>DEPENDENCIES</h5>
    <ul class="searchList">
      <% @dependencies.each do |d| %>
      <li><a> <%= d["name"] %> </a></li>
      <% end  %>
    </ul>
  </div>
  <% end %>
</div>
