<%= render "sidenav" %>
<div class="searchPage">
  <h2>Search Gems</h2>
  <br><br>
  <div class="searchBar">
    <%= form_tag(searches_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search", class: "round" %>
      <%= submit_tag "Search", class: "corner", value: "" %>
    <% end %>
  </div>
</div>

<% if @search_gem %>
  <% if @search_gem.length > 1 %>
    <%= render "gemInfo" %>
  <% else %>
    <%= render "noGems" %>
  <% end %>
<% end  %>

<ul class="list">
  <li id="placeholder"></li>
</ul>
